<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum perspiciatis laborum saepe ipsa est illo a doloremque deserunt dolore fugit, ratione maiores ab quis temporibus voluptatem quae. Repellat non tempora distinctio maxime iusto mollitia officia hic placeat iure debitis, animi et quaerat, alias in accusantium fugiat vero aspernatur, est tenetur!</p>
  <a href="/clips/add" class="btn btn-dark btn-lg">Add Video Clip</a>
</div>
