{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body">
  <h3>Video Clip</h3>
  <form action="/clips" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="description" id="descr" class="form-control" cols="30" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="style">Style</label>
      <input type="text" class="form-control" name="style">
    </div>
    <div class="form-group">
      <label for="director">Director</label>
      <input type="text" class="form-control" name="director">
    </div>
    <div class="form-group">
      <label for="duration">Duration in seconds</label>
      <input type="number" class="form-control" name="duration">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
